<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Klod.Validation.Configuration.Config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Klod.Validation.Configuration.Config>
            <setting name="RulesValidationClassesAssembly" serializeAs="String">
                <value>z:\me\Documents\Projects\RulesEngineValidator\Klod.Validation.Classes\bin\Klod.Validation.Classes.dll</value>
            </setting>
            <setting name="RuleManagerClass" serializeAs="String">
                <value>Klod.Validation.Classes.Management.RuleManager,Klod.Validation.Classes.Management</value>
            </setting>
            <setting name="RuleMapClass" serializeAs="String">
                <value>Klod.Validation.Classes.Mapping.XmlRuleMap,Klod.Validation.Classes.Mapping</value>
            </setting>
            <setting name="RulesRepositoryClass" serializeAs="String">
                <value>Klod.Validation.Classes.Mapping.XmlRulesRepository,Klod.Validation.Classes.Mapping</value>
            </setting>
            <setting name="FilesMapAddresss" serializeAs="String">
                <value>c:\mappings\rulesMap.xml</value>
            </setting>
        </Klod.Validation.Configuration.Config>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
