<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Klod.Validation.Classes.Configuration.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Klod.Validation.Classes.Configuration.Config>
            <setting name="RuleElement" serializeAs="String">
                <value>rule</value>
            </setting>
            <setting name="RuleNameAttribute" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="ConstraintNameAttribute" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="ConstraintPropertyAttribute" serializeAs="String">
                <value>property</value>
            </setting>
            <setting name="ConstraintOperatorAttribute" serializeAs="String">
                <value>operator</value>
            </setting>
            <setting name="ConstraintValueAttribute" serializeAs="String">
                <value>value</value>
            </setting>
            <setting name="ConstraintValueTypeAttribute" serializeAs="String">
                <value>valueType</value>
            </setting>
            <setting name="ContraintTypeToValidateAttribute" serializeAs="String">
                <value>typeToValidate</value>
            </setting>
            <setting name="RuleConstraintsElement" serializeAs="String">
                <value>constraints</value>
            </setting>
            <setting name="RuleConstraintElement" serializeAs="String">
                <value>constraint</value>
            </setting>
        </Klod.Validation.Classes.Configuration.Config>
    </applicationSettings>
</configuration>